.main-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 72px;

  .redirect-btn {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 8px 16px;
    background-color: var(--color1);
    border-radius: 4px;
  }
}