#content {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  #page {
    margin: 72px 8px;
    // padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1080px;
  }
}